<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aihom.modules.system.mapper.ApprovalUserMapper">

    <select id="selectByUsername" resultType="org.aihom.modules.system.entity.ApprovalUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultType="org.aihom.modules.system.entity.ApprovalUser">
        SELECT * FROM sys_user WHERE email = #{email}
    </select>

    <select id="selectByPhone" resultType="org.aihom.modules.system.entity.ApprovalUser">
        SELECT * FROM sys_user WHERE phone = #{phone}
    </select>

</mapper>
